<ion-view>

  <ion-header-bar class="background-343843">
    <h1 class="title colorF">正在与***聊天中....</h1>
  </ion-header-bar>
  <ion-content>
    <div class="serviceInnerWarp">
      <div class="serviceInnerRobot">
        <p><span>客服小A</span><span>2016-12-22</span></p>
        <p class="serviceContent">【排球我看懂求科普读卡器扑克玩得起抛弃我看的排气口袋【看去OK我都怕去看望【的空气炮开网店迫切口味搭配去看电影空气炮五道口迫切口味搭配</>
      </div>
      <div class="serviceInnerRobot">
      <p><span>客服小A</span><span>2016-12-22</span></p>
      <p class="serviceContent">【排球我看懂求科普读卡器扑克玩得起抛弃我看的排气口袋【看去OK我都怕去看望【的空气炮开网店迫切口味搭配去看电影空气炮五道口迫切口味搭配</>
    </div>
      <div class="serviceInnerRobot">
        <p><span>客服小A</span><span>2016-12-22</span></p>
        <p class="serviceContent">【排球我看懂求科普读卡器扑克玩得起抛弃我看的排气口袋【看去OK我都怕去看望【的空气炮开网店迫切口味搭配去看电影空气炮五道口迫切口味搭配</>
      </div>
      <div class="serviceInnerUser">
        <p><span>用户小B</span><span>2016-12-22</span></p>
        <p class="serviceContent">【排球我看懂求科普读卡器扑克玩得起抛弃我看的排气口袋【看去OK我都怕去看望【的空气炮开网店迫切口味搭配去看电影空气炮五道口迫切口味搭配</>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="serviceFooter">
    <input type="text">
    <input type="button" value="发送">
  </ion-footer-bar>
</ion-view>
