<ion-view>

  <ion-header-bar class="background-343843">
    <h1 class="title">客服</h1>
  </ion-header-bar>

  <ion-content class="backgroundF4">
    <ion-list>
      <ion-item class="padding border-N mB8">
        <img href="#/tab/personalData"
             src="img/app/center/user_logo.png"
             class="serviceUserP"/>
        <p class="servicePfirst">可打开打开</p>
        <p class="servicePsecond">打破请叫我代金券浦东金桥巨大奇迹浦东金桥盘江大桥平均单价群文件搭配请加我的凭借其王牌对决请假问的前雾灯</p>
        <span class="serviceSpan">2016-12-22</span>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
