<ion-view class="bgefede7" view-title="忘记密码" style="background-color: #f4f4f4;">


    <ion-header-bar class="bar-dark">
        <a class="button button-light icon ion-ios-arrow-left button-clear"  ng-click="rootBack()"></a>
        <h1 class="title">忘记密码</h1>
    </ion-header-bar>


    <ion-content class="backgroundF4" scroll="false">
        <ion-list class="reister-list">

            <ion-item class="item item-input bmW">
                <span class="input-label wcfw ml-5" >手机号码</span>
                <input type="number" ng-model="user.phone" placeholder="手机号" class=""/>
            </ion-item>
            
          <ion-item class="item item-input bmW register-num-grand-father" style="padding-left: 10px">
            <input type="text" ng-model="user.imgCheckCode" maxlength="10" placeholder="请输入图片验证码" style="border-right: 1px solid #cccccc"/>
            
            <button ng-click="updateCheckCode()" class="button button-light button-clear bcfbw register-num-father ml-67" style="padding: 0px 5px 0 10px;">
            	<img src="{{checkCodeImg}}" class="register-num">
            </button>
          </ion-item>
          
          <ion-item class="cut-off button-clear border-M padding0">
            <a ng-disabled="checkNext()" ng-click="checkPhone()" class="button button-block color-font all color border-N">下一步</a>
          </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
