<ion-view  view-title="店铺搜索页面">
    <ion-header-bar ng-click="$rootScrollTop()" class="paddingR-15">
        <i class="icon ion-ios-arrow-left seekShop-top-iconL"></i>
        <i class="icon ion-ios-search button button-light backgroundF4 seekShop-borderN-mL16"></i>
        <input type="text" placeholder="请输入您要查找的商品"  class="backgroundF4 w10"/>
    </ion-header-bar>
    <ion-content class="backgroundF4">
            <ion-list class="backgroundF4">
                <ion-item class="mT6">
                    <span class="seekShop-mT6-span">牧高笛旗舰店</span>
                    <span class="color-fe404c">4.83分</span>
                    <button class="seekShop-span-button">进入店铺</button>
                </ion-item>
                <ion-item class="row border-right">
                    <div class="col col-33">
                        <img src="img/app/center/colthing.jpg" alt="#" class="w10"/><br/>
                        <span class="text-center display-B">¥229</span>
                    </div>
                    <div class="col col-33">
                        <img src="img/app/center/colthing.jpg" alt="#"  class="w10"/><br/>
                        <span class="text-center display-B">¥229</span>
                    </div>
                    <div class="col col-33">
                        <img src="img/app/center/colthing.jpg" alt="#"  class="w10"/><br/>
                        <span class="text-center display-B">¥229</span>
                    </div>
                </ion-item>
            </ion-list>


        <ion-list class="backgroundF4">
            <ion-item class="mT6">
                <span class="seekShop-mT6-span">牧高笛旗舰店</span>
                <span class="color-fe404c">4.83分</span>
                <button class="seekShop-span-button">进入店铺</button>
            </ion-item>
            <ion-item class="row border-right">
                <div class="col col-33">
                    <img src="img/app/center/colthing.jpg" alt="#"  class="w10"/><br/>
                    <span class="text-center display-B">¥229</span>
                </div>
                <div class="col col-33">
                    <img src="img/app/center/colthing.jpg" alt="#" class="w10"/><br/>
                    <span class="text-center display-B">¥229</span>
                </div>
                <div class="col col-33">
                    <img src="img/app/center/colthing.jpg" alt="#" class="w10"/><br/>
                    <span class="text-center display-B">¥229</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>