<ion-view>
  <ion-header-bar class="background-343843">
    <p class="specialOffTittle shishangzhonghei colorF">预售</p>
  </ion-header-bar>
  <ion-content>
    <ion-list class="specialOffOffContent">
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <ion-item class="specialOffItem">
        <img src="img/app/center/colthing.jpg">
        <p class="fangzhenglanting mB016">ULVANG 高领女款T恤</p>
        <p class="text-center specialOffPfirst"><span>RMB</span><span>999</span></p>
        <p class="text-center specialOffPfirst"><span class="text-decoration colorc9c9c9">RMB</span><span class="text-decoration colorc9c9c9">999</span></p>
      </ion-item>
      <div class="clear"></div>
    </ion-list>
  </ion-content>
</ion-view>
