<ion-view  style="background:#f4f4f4">
  <ion-header-bar class="backimgNot background-343843">
    <h1 class="title colorF">
      绑定优惠券
    </h1>
    <a href="" class="button button-outline icon-right" style="line-height:33px;float: right;font-weight: 600;color: #FFFFFF">确定</a>
  </ion-header-bar>
  <div class="bindingCoupon">
    <div class="bindingCouponWarp">
      <span class="ion ion-card"></span>
      <input type="text" placeholder="qwdqdqkdqkqwkd@163.com">
    </div>
    <div class="bindingCouponWarp">
      <span class="ion ion-key"></span>
      <input type="text" placeholder="qwdqdqkdqkqwkd@163.com">
    </div>
    <a href="">绑定优惠券</a>
    <p>1、在左侧输入优惠券卡号密码进行绑定。<br>
      2、请在输入卡号和密码时检查输入框中是否存在空格，存在空格会绑定不成功。<br>
      3、<span style="color: red">注意</span>： 现金卷为一次性使用，不找零不退回。</p>
  </div>
</ion-view>
