<ion-view view-title="品牌故事" class="backgroundF4">
    <ion-header-bar>
        <button class="button-icon icon ion-ios-arrow-left" ng-click="rootBack()"></button>
        <h1 class="title fonF">
            品牌故事
        </h1>
    </ion-header-bar>
    <ion-content class="has-header paddingLR15 mT10 backgroundF" id="BrandDetailInfo">

        <!--<div class="comm_story_logo mT034rem">
        	<img ng-src={{ossUrl}}BrandLogo/{{num.BrandLogo}} alt="#">
        </div>-->
        <h4 class="fonS04 fontW600 text-center mB02" ng-bind="num.BrandName"></h4>
        <p id="about_we" class="fons032"></p>

    </ion-content>
</ion-view>
