.seekShop-top-iconL{
    font-size: 25px;margin-top: 26px !important;margin-left: 12px;
}
.seekShop-borderN-mL16{
    border-radius: 0;margin-left: 16px;
}
.seekShop-mT6-span{
    background: #f4f4f4;padding: 0.2rem 0.36rem;
}
.seekShop-span-button{
    background-color: #fff;padding: 0.2rem 0.36rem;border: 1px solid #343843;border-radius: 5px;float:right;margin-top: -8px;
}