<ion-view view-title="评价晒单">
    <ion-header-bar class="backimgNot">
        <button class="button-icon icon ion-ios-arrow-left" ng-click="rootBack()"></button>
        <h1 class="title fonF">
            评价晒单
        </h1>
    </ion-header-bar>
    <ion-content class="backgroundF4">
        <ion-list>
            <ion-item>
                <img src="img/app/center/colthing.jpg" class="col col-20 pdmd_z floatL border-N">
                <p class="col-66">ULVANG 于尔旺 欧洲制造 短款美利奴羊</p>
                <div id="function-demo1" class="col col-75 floatL user_evalu_die"></div>
                <div id="function-hint1" class="disPN"></div>
            </ion-item>
            <ion-item class="mT10 border-N user_evalu_share">
                <textarea class="w10 user_evalu_input resizeN fonS0293" placeholder="亲写下购买体会和使用感受来帮助其他小伙伴哦" cols="2"></textarea>
                <a class="user_evalu_pic_btn" href="#">
                    <i class="ion ion-ios-camera-outline"></i><br>
                    <span>晒单</span>
                </a>
                <div class="user_evalu_img">
                    <span><img src="img/app/center/colthing.jpg" alt=""><a href="#">×</a></span>
                </div>
            </ion-item>
            <ion-item class="mT10 border-N user_evalu_pingfen paddingL25">
                <h3>整体评分</h3>
                <div class="ueser_evalu_each mT10">
                    <p class="display-ib floatL fonS035">描述相符</p>
                    <div id="function-demo2" class="display-ib floatL mrL20"></div>
                    <div id="function-hint2"></div>
                    <div class="clear"></div>
                </div>
                <div class="ueser_evalu_each">
                    <p class="col-20 display-ib floatL fonS035">发货速度</p>
                    <div id="function-demo3" class="col-80 display-ib floatL mrL20"></div>
                    <div id="function-hint3" class="disPN"></div>
                    <div class="clear"></div>
                </div>
                <div class="ueser_evalu_each">
                    <p class="col-20 display-ib floatL fonS035">服务态度</p>
                    <div id="function-demo4" class="col-80 display-ib floatL mrL20"></div>
                    <div id="function-hint4" class="disPN"></div>
                    <div class="clear"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <a href="#" class="title background-fe404c pdmd_z">提交</a>
    </ion-footer-bar>
</ion-view>