@font-face {
  font-family: fangzhenglanting;
  src: url("../fonts/fangzhenglanting.TTF")
}
@font-face {
  font-family: shishangzhonghei;
  src: url("../fonts/shishangzhonghei.ttf")
}
@font-face {
  font-family: displayblack;
  src: url("../fonts/sanfranciscodisplay-black-webfont.ttf")
}
.shishangzhonghei{
  font-family: shishangzhonghei;
}
.fangzhenglanting{
  font-family: fangzhenglanting;
  font-weight:bold;
}
.displayblack{
  font-family: displayblack;
}
@media screen and (min-width: 319px)and (max-width: 359px) {
  html {
    font-size:37px;
  }

  .mt0 {
    margin-top: 0 !important;
  }

  .tran4S {
    bottom: 0.2rem !important;
    right: -0.966rem !important;
    width: 3rem !important;
    font-size: 0.2rem;
  }
  .mT40px{
    margin-top:13px!important;
  }
  .mT42rem{
    margin-top: 4.2rem!important;
  }

  .commIntro_jion_cart_text span {
    line-height: 0 !important;
  }

  .padding6 {
    padding: 6px!important;
  }

  .shop_list_4Sbottom {
    margin-top: 5px !important;
  }

  .shop_list_subheader a:nth-child(5) img {
    transform: translateY(0px) !important;
  }

  .phone4sW3 {
    width: 30% !important;
  }
  .phone4sW7 {
    width: 70% !important;
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }

  .indentParticulars-footer {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 359px)and (max-width: 383px) {
  html {
    font-size:37px;
  }

  .mt0 {
    margin-top: 0 !important;
  }

  .shop_list_4Sbottom {
    margin-top: 5px !important;
  }
}

@media screen and (min-width: 383px)and (max-width: 399px) {
  html {
    font-size:42px;
  }

  .mt0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 399px)and (max-width: 414px) {
  html {
    font-size:45px;
  }

  .mt0 {
    margin-top: 0.166rem !important;
  }
}

@media screen and (min-width: 414px)and (max-width: 423px) {
  html {
    font-size:46px;
  }

  .mt0 {
    margin-top: 0.2rem !important;
  }
}

@media screen and (min-width: 423px)and (max-width: 479px) {
  html {
    font-size:48px;
  }

  .mt0 {
    margin-top: 0.2rem !important;
  }
}

@media screen and (min-width: 479px)and (max-width: 539px) {
  html {
    font-size:53px;
  }

  .mt0 {
    margin-top: 0.15rem !important;
  }

  .max-space {
    max-width: 269px;
  ;
    white-space: initial !important;
  }
}

@media screen and (min-width: 539px)and (max-width: 639px) {
  html {
    font-size:59px;
  }

  .mt0 {
    margin-top: 0.25rem !important;
  }

  .max-space {
    max-width: 269px;
  ;
    white-space: initial !important;
  }
}

@media screen and (min-width: 639px)and (max-width: 640px) {
  html {
    font-size:69px;
  }

  .mt0 {
    margin-top: 0.4rem !important;
  }

  .max-space {
    max-width: 269px;
    white-space: initial !important;
  }
}

@media screen and (min-width: 640px)and (max-width: 749px) {
  html {
    font-size:70px;
  }

  .mt0 {
    margin-top: 0.35rem !important;
  }

  .max-space {
    max-width: 269px;
    white-space: initial !important;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size:70px;
  }

  .mt0 {
    margin-top: 0.4rem !important;
  }

  .max-space {
    max-width: 359px;
    white-space: initial !important;
  }
}

body {
  overflow-x: hidden;
  font-family: '微软雅黑' !important;
}

.clear {
  clear: both;
}

/*margin or padding*/
.pdmd_z {
  padding: 0 !important;
  margin: 0 !important;
}

.paddingZ {
  padding: 0!important;
}

.padding3530 {
  padding: 0.46rem 0.4rem !important;
}

.marginZ {
  margin: 0!important;
}

.ml-5 {
  margin-left: -5px;
}
.ml-1 {
  margin-left:1%;
}
.marginLR5{
  margin-left:5px;
  margin-right:5px;
}
.marginL37{
  margin-left: 37px!important;
}
.marginT1 {
  margin-top: 1px;
}

.marginT3 {
  margin-top: 3px;
}
.mT8{
  margin-top: 8px;
}
.ml6mr6 {
  margin-left: 3px;
  margin-right: 3px;
}

.ml10 {
  margin-left: 10px;
}
.mT-10 {
  margin-top: -10px !important;
}

.mt-13 {
  margin-top: 13px;
}

.mL26 {
  margin-left: 26px;
}

.mL52 {
  margin-left: 52px;
}

.mL393rem {
  margin-left: 3.93rem;
}

.mL353rem {
  margin-left: 3.53rem;
}

.margin-auto {
  margin: 0 auto;
}

.mL-085rem {
  margin-left: -0.85rem;
}

.mT-0 {
  margin-top: 0 !important;
}

.mB1 {
  margin-bottom: 1px!important;
}
.mB16{
  margin-bottom: 16px!important;
}
.mB2 {
  margin-bottom: 2px;
}.mB8 {
  margin-bottom:8px;
}

.mB02 {
  margin-bottom: 0.2rem;
}

.mB006666 {
  margin-bottom: 0.067rem;
}

.mB20 {
  margin-bottom: 20px;
}

.mB44 {
  margin-bottom: 44px;
}

.paddingB026 {
  padding-bottom: 0.26rem!important;
}

.mT-30 {
  margin-top: 30px;
}

.padding1111 {
  padding-bottom: 1px;
}

.ml-0 {
  margin-left: 0 !important;
}

.mT {
  margin-top: 0.13rem !important;
}

.mTB {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.mB016 {
  margin-bottom: 0.16rem !important;
}

.mT01 {
  margin-top: 0.1rem !important;
}

.mT02 {
  margin-top: 0.2rem !important;
}

.mT026 {
  margin-top: 0.26rem !important;
}

.mT034rem {
  margin-top: 0.34rem;
}
.mT6 {
  margin-top: 6px;
}

.mT-20 {
  margin-top: -20px;
}

.mySb-font {
  margin-top: -10px;
  line-height: 2.586rem;
}

.mT10 {
  margin-top: 10px !important;
}

.mL10 {
  margin-left: 0.133rem !important;
}

.mT16 {
  margin-top: 16px !important;
}

.mT32 {
  margin-top: 32px !important;
}

.mL15 {
  margin-left: 15px;
}

.mL10 {
  margin-left: 10px;
}

.mrL20 {
  margin-left: 20px;
}

.maR06 {
  margin-right: 0.6rem;
}
.maR5 {
  margin-right: 5px;
}

.mR15 {
  margin-right: 15px;
}

.mR25 {
  margin-right: 25px;
}

.mR053 {
  margin-right: 0.5333rem;
}

.mR30 {
  margin-right: 30px;
}

.mt1173 {
  margin-top: 200px;
}

.padding0 {
  padding: 0 !important;
}

.paddingLR15 {
  padding: 0 15px !important;
}

.p616 {
  padding: 6px 16px;
}

.padding16 {
  padding: 16px !important;
}

.pgtb-20 {
  padding: 20px 0;
}

.paddingT0 {
  padding-top: 0!important;
}

.pTpB {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding013{
  padding: 10px 0 13px 0;
}
.pT11pB11 {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.bottom0 {
  bottom: 0!important;
}

.pT6pB6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.pT10pB10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding032 {
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
}

.pT12pB12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.paddingR0 {
  padding-right: 0 !important;
}

.pLpR {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mLR16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.paddingB {
  padding-bottom: 10px;
}

.pM0 {
  padding-left: 0;
}
.plpr1{
  padding: 0 1%;
}
.pL044 {
  padding-left: 0.44rem !important;
}

.pL030 {
  padding-left: 0.30rem !important;
}

.paddingR-15 {
  padding-right: 15px;
}.paddingR-19 {
  padding-right: 19px;
}
.paddingBT0 {
  padding-bottom: 0;
}

.paddingB20px {
  padding-bottom: 20px;
}

.paddingL16 {
  padding-left: 16px;
}.paddingLR16 {
  padding-left: 16px;
  padding-right: 16px;
}
.padding016{
  padding: 0 16px;
}.padding10{
  padding: 0 10px;
}
.paddingL25 {
  padding-left: 25px;
}

.paddingT6 {
  padding-top: 6px;
}

.paddingT3 {
  padding-top: 3px;
}

.paddingT18 {
  padding-top: 18px !important;
}
/*字体字号*/
.fonS4 {
  font-size: 4rem!important;
}

.fonS_066 {
  font-size: 0.66666rem;
}

.fonS32 {
  font-size: 32px;
}
.fonS25{
  font-size: 25px!important;
}
.fonS21 {
  font-size: 21px;
}

.lineH10 {
  line-height: 10px;
}

.fonS04 {
  font-size: 0.4rem !important;
}

.fonS02 {
  font-size: 0.2rem !important;
}

.fonS046rem {
  font-size: 0.46rem;
}
.fonS048rem {
  font-size: 0.48rem;
}

.fonS035 {
  font-size: 0.35rem !important;
}

.fonS043 {
  font-size: 0.43rem !important;
}

.fonS2 {
  font-size: 0.5rem!important;
}

.fontW900 {
  font-weight: 900 !important;
}

.fonS037 {
  font-size: 0.37rem !important;
}

.fonS032 {
  font-size: 0.32rem !important;
}

.fonS30 {
  font-size: 30px!important;
}

.fonS0293 {
  font-size: 0.293rem !important;
}

.fonS09 {
  font-size: 0.9rem !important;
}

.fonF {
  font-family: 微软雅黑;
}

.fontW400 {
  font-weight: 400 !important;
}

.fontW600 {
  font-weight: 600 !important;
}

.fontS14 {
  font-size: 14px;
}

.fontS19 {
  font-size: 19px;
}

.fontS16 {
  font-size: 16px;
}

.fontS14 {
  font-size: 14px;
}

.fontS12 {
  font-size: 12px;
}

.fontS13 {
  font-size: 13px;
}

.fonS3 {
  font-size: 2.5rem !important;
}

.font-color-red {
  color: red;
}
.colorFF{
  color: rgba(255,255,255,0.6);
}
.color-C {
  font-size: 0.33rem;
  color: #ccc;
}

.color-01be60 {
  color: #01be60 !important;
}

.color-b6b6b6 {
  color: #b6b6b6 !important;
}

.color-9a9a9a {
  color: #9a9a9a;
}

.color-cc {
  color: #cccccc;
}

.colorfc3f4c {
  color: #fc3f4c!important;
}

.ddd {
  color: #ddd;
  font-size: 24px !important;
}

.font12-c9 {
  font-size: 12px !important;
  color: #999 !important;
}

.wcfw {
  width: auto;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

/*字体颜色*/
.backgroundF4 {
  background-color: #f4f4f4 !important;
}

.color-fe5d67 {
  color: #fe5d67 !important;
}

.color-343843 {
  color: #343843 !important;
}

.color-8f8f8f {
  color: #8f8f8f;
}

.color-333 {
  color: #333 !important;
}

.colorF {
  color: #fff !important;
}

.color9 {
  color: #999999 !important;
}

.color-6 {
  color: #666666 !important;
}

.color-b {
  color: black !important;
}

.red3db4ff {
  color: #3db4ff !important;
}

.color-fe404c {
  color: #fe404c !important;
}

.color-98 {
  color: #989898!important;
}

.color-ddbe72 {
  color: #ddbe72;
}

.color_48 {
  color: #484848;
}

.background-r {
  background: red;
}

.background-g {
  background: green;
}

/*边框*/
.border1Se {
  border: 1px solid #eeeeee!important;
}

.background-Nborder-N {
  background: none !important;
  border: none !important;
}

.border-N {
  border: none !important;
}

.borderT {
  border-top: 1px solid #dddddd !important;
}

.borderTc {
  border-top: 1px solid #cccccc !important;
}

.borderBd {
  border-bottom: 2px solid #dddddd !important;
}

.borderTe {
  border-top: 1px solid #eeeeee !important;
}

.borderTe2 {
  border-top: 2px solid #eeeeee !important;
}

.border-right {
  border-right: 0;
}

.border-ridius {
  border-radius: 0;
}

.borderB {
  border-bottom: 1px solid #cccccc !important;
}

.borderB0 {
  border-bottom: 1px solid #000000 !important;
}

.borderBe {
  border-bottom: 1px solid #eeeeee !important;
}

.borderBf41 {
  border-bottom: 1px solid #f4f4f4;
}

.borderBf42 {
  border: none !important;
  border-bottom: 2px solid #f4f4f4 !important;
}

.borderLrN {
  border-left: none;
  border-right: none;
}

.border2pxS343843 {
  border: 2px solid #343843;
}

.bmW {
  border-radius:5px;
  margin: 0 auto;
  width: 91%;
  margin-top: 8px;
}

.borderBf4 {
  border-bottom: 0.16rem solid #f4f4f4 !important;
}
/*背景色*/
.background-fe404c {
  background: #fe404c !important;
;
}

.background-f6f5f5 {
  background: #f6f5f5;
}

.backgroundCF {
  background-color: #fff;
}

.backgroundF {
  background-color: #fff!important;
  z-index: 9;
}

.background-343843 {
  background-color: #343843 !important;
}

.background-f {
  background-color: #fff;
}

.backimgNot {
  background-image: none;
}

.background-ccc {
  background: #cccccc !important;
}

/*浮动*/
.floatR {
  float: right !important;
}

.floatL {
  float: left !important;
}

/*宽高*/
.height70 {
  height: 70px;
}

.w1 {
  width: 10%!important;
}

.w90 {
  width: 90%!important;
}
.w19{
  width: 19%;
}
.w20 {
  width: 20%;
}

.w10 {
  width: 100%!important;
}

.w60 {
  width: 60%;
}

.w3 {
  width: 33.3333%!important;
}
.w4 {
  width: 40%;
}
.w495{
  width: 49.5%;
}
.w5 {
  width: 50% !important;
}

.w6 {
  width: 60% !important;
}

.w8 {
  width: 80%;
}
.w82 {
  width: 82%!important;
}
.w95{
  width: 95%!important;
}
.w35 {
  width: 35px;
}

.w20p {
  width: 20px;
}
.h1rem{
  height: 1rem;
}
.he5 {
  height: 50%;
}

.he10 {
  height: 100%;
}

.lineHA {
  line-height: inherit;
}

.lineH1 {
  line-height: 0.9rem;
}

.lineH09 {
  line-height: 1rem;
}
.lineH34{
  line-height: 34px;
}
.lineH22 {
  line-height: 22px;
}

.lineH34 {
  line-height: 34px;
}

.lineH10666 {
  line-height: 1.1rem;
}

.lineH0826 {
  line-height: 0.826rem;
}

.lineH40 {
  line-height: 40px;
}

.lineH44 {
  line-height: 44px;
}

.lineH05866 {
  line-height: 0.58rem !important;
}

.linH84px {
  line-height: 84px;
}

.lineH075 {
  line-height: 0.75rem;
}

.lineH093 {
  line-height: 0.93rem;
}

.lineH12 {
  line-height: 1.2rem;
}

.lineH04 {
  line-height: 0.4rem;
}

.height12 {
  height: 1.2rem!important;
}

.checkbox input, .checkbox-icon {
  position: relative;
  width:24px;
  height:24px;
  min-width: 24px;
  max-width: 24px;
  max-height: 24px;
  min-height: 24px;
  display: block;
  border: 0;
  background: 0 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.item-radio .radio-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  visibility: hidden;
  padding: 14px;
  height: 100%;
  font-size: 18px;
  color: #fe404c;
}

.left-img-icon-all {
  width: 2.3rem !important;
  /*height: 2.3rem !important;*/
  max-width: 2.3rem !important;
  /*max-height: 2.3rem !important;*/
  height: 100%;
}

.white-N {
  white-space: normal;
}

.p0m0B0 {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

a {
  text-decoration: none;
  color: #fff;
}

.display-B {
  display: block;
}

.display-Ih {
  display: inherit!important;
}

.display-iB {
  display: inline-block;
}

.text_align {
  text-align: center !important;
}

.text_alignR {
  text-align: right;
}

.resizeN {
  resize: none;
}

.text-alignR {
  text-align: right;
}
.overPaceA{
  overflow: visible !important;
  text-overflow: clip !important;
white-space: normal !important;
}
.overPaceN {/*
  overflow: visible !important;
  text-overflow: clip !important;*/
  white-space: normal !important;
}

.white-spaceI {
  white-space: inherit !important;
}

.resizeN {
  resize: none !important;
}

.textareah {
  height: 2.66rem !important;
}

.disPN {
  display: none;
}

.text-decoration {
  text-decoration: line-through;
}

.display-N {
  display: none !important;
}

.right_box {
  background: #313131;
  padding: 0 16px;
  width: 2.5rem;
  z-index: 1111;
  position: absolute;
  bottom: -2.8rem;
  right: 0;
  border-radius: 3px;
}

.right_box p i {
  font-size: 19px;
  margin-right: 10px;
}

.right_box p {
  line-height: 0.87rem;
  font-size: 0.32rem;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.has-img {
  width: 21%;
  text-align: center;
  padding: 4px;
  border: 1px solid #eeeeee;
  margin-right: 10px;
}

.has-img img {
  width: 100%;
}
.hava-img img {
  width: 100%;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}
.position-ajZ{
  right: 0!important;
  top: 50%;
}
.positionB0 {
  position: absolute;
  bottom:0;
  right: 0;
}
.translate5 {
  -webkit-transform: translateX(-5%);
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -o-transform: translateX(-5%);
  transform: translateX(-5%);
}

.tranFor {
  transition: 0.2s all;
}

.left100 {
  left: 100%!important;
  transition: all 0.2s;
}

.leftFu100 {
  left: -100%!important;
  transition: all 0.2s;
}

.left0 {
  transition: all 0.2s;
  left: 0%;
  width: 100%;
}

.left33 {
  left: 33%!important;
}

.left66 {
  left: 66%!important;
}
.left50 {
  left: 50%!important;
}
.ion_img{
  width: 30px;
  line-height: 44px;
}
.elaBoxA{
  display: flex;
  justify-content: space-around;
}
.fiexRw{
	flex-flow: row wrap
}
.nostar{
  width:114px;
  height: 19px;
  background: url("../img/app/center/nostar.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.oneS{
  width:114px;
  height: 19px;
  background: url("../img/app/center/oneS.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.twoS{
  width:114px;
  height: 19px;
  background: url("../img/app/center/twoS.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.threeS{
  width:114px;
  height: 19px;
  background: url("../img/app/center/threeS.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.fourS{
  width:114px;
  height: 19px;
  background: url("../img/app/center/fourS.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.fiveS{
  width:114px;
  height: 19px;
  background: url("../img/app/center/fiveS.png") no-repeat;
  display: inline-block;
  background-size: 60%;
}
.textJ{
  display:-webkit-box;
  display:box;
  -webkit-box-pack:justify;
  box-pack:justify;
}
.img-b img{
  display: block;
}
.activityShade-text{
  position: fixed;
  left: 0;
  top: 35%;
  color: #FFFFFF;
  z-index: 999;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.activityShade{
  width: 100%;
  height: 10000%;
  position: fixed;
  left: 0;
  top:0;
  background: rgba(0,0,0,0.6);  z-index: 99;
}
